.ContentButton /*For navigation and news button */
{
	width: 140px;
	height: 25px;
	padding: 5px;
	border: 1px solid black;
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, .75);
	
	text-align:center;
	text-decoration:none;
	color:black;
}
.individual /*For about page */
{

	text-align:center;
	width:185px;
	height:80px;
	padding:auto;
	display:block;
	float:left;
}
.reportButton
{
	margin:5px;
	padding-left:10px;
	display:block;
	width:130px; /*Change to 150 to link report button to nav area*/
	height:50px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	text-align:left;
	font-size:12px;
	padding-top:5px;
	text-decoration:none;
	color:black;
}
