/* Header */
.TopOfPageButNotHeaderCauseNamingItThatWouldBeConfusing
{
	display:block;
	width:100%;
	height: 64px;
	margin: 0;
	background-color: rgba(0, 69, 277, 0.5);
	position:absolute;
	top:0px;
	left:0px;
	color:white;
	letter-spacing:2px;
	font-family:"Verdana", "Arial", sans-serif;
	border-bottom: 1px solid black;
}
.headerImage
{
	display: inline-block;
}

.headerText
{
	position: absolute;
	top:0;
	left: 64;
	display: inline-block;
}


/* --- Content Section. Everything from news to base --- */
.ContentContainer
{
	position: relative;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.Content
{
	display:block;
	width:1000px;
	background-color: rgba(121, 211, 255, 0.5);
	border: 1px solid black;
	position: absolute;
	top: 64px;
}


/* Navigation */
.navigation
{
	display:block;
	width: 1000px;
	background-color: rgba(0, 69, 277, 0.5);
	border-bottom: 1px solid black;
}

.ContentButton
{
	display: inline-block;
	width: 140px;
	height: 25px;
	padding: 5px;
	border: 1px solid black;
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgba(80, 143, 72, .75);
	
	text-align:center;
	text-decoration:none;
	color:black;
	font-family:"Verdana", "Arial", sans-serif;
}

/*Photo Banner */
.photoBanner
{
	display: block;
	height: 254px;
	position: relative;
}

.bannerBottomLeft
{
	position: absolute;
	bottom: 8px;
	left: 16px;
	font-size: 18px;
	color:white;
}

/* News */

.news
{
	display:block;
	width: 1000px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-family:"Verdana", "Arial", sans-serif;

}
.reportList
{
	display:inline-block;
	width: 170px;
	height: 500px;
	margin:15px;
	overflow-y: scroll;
	overflow-x: hidden;	
}

.reportButton
{
	margin:5px;
	padding-left:10px;
	display:block;
	width:130px; /*Change to 150 to link report button to nav area*/
	height:50px;
	background-color: rgba(121, 193, 109, 0.75);
	border: 1px solid black;
	text-align:left;
	font-size:12px;
	padding-top:5px;
	text-decoration:none;
	color:black;
}

.report
{
	display:inline-block;
	float:right;
	margin:15px;
	width:770px;
	height:500px;
	background-color: rgba(118, 102, 83, 0.75);
}
.reportTitle
{
	background-color: rgba(164, 145, 124, 0.75);
	display:block;
	margin:20px;
	
}
.reportContent
{
	display:block;
	overflow-y: scroll;
	overflow-x: hidden;
	margin:20px;
	height: 400px;
}

.monthDivider
{
	display: inline-block;
	background-color: rgba(121, 193, 109, 0.75);
	margin: 5px;
	border: 1px solid black;
	font-size:12px;
	text-decoration:none;
	color:black;
	width:80px;
	padding-left:10px;
}
.monthArrow
{
	display: inline-block;
	background-color: rgba(121, 193, 109, 0.75);
	margin: 5px;
	border: 1px solid black;
	font-size:12px;
	text-decoration:none;
	color:black;
	width:33px;
	text-align:center;

}

/* Footer */
.footer
{
	display:block;
	height:20px;
	font-family:"Verdana", "Arial", sans-serif;
	margin:20px;
	word-spacing:20px;

	
}

/* About page. Block for individual */
.individual
{
	display:inline-block;
	text-align:center;
}




