/* CSS Document */

body
{
	background:#000000;
}

.pagecontent
{
	width:900px;
	background:#000000;
	margin-left:auto;
	margin-right:auto;	
}

.top
{
	background: #232323;
	color:#CACACA;
	margin: 0;
	padding: 5px;
	text-align: center;
	font-family: pt-sans-narrow;
	text-shadow:#A4A5ED;
	font-style: normal;
	font-weight: 400;
}
.nav
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#13164F;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.banner
{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	padding-top:50px;
}