.navbox 
{
    background: #FFF;
    border: 1px solid #CCC;
    margin: 1em auto 0;
    clear: both;
    width: 100%;
}

.navbox .navbox-top 
{
    white-space: nowrap;
    background-color: #CCC;
    padding: 0 3px;
    text-align: center;
}

.navbox-title 
{
    padding: 0 10px;
    font-size: 110%;
}

.navbox th 
{
    background-color: #EEE;
    padding: 0 10px;
    white-space: nowrap;
    text-align: right;
}

th
{
    font-weight: bold;
}

td, th 
{
    display: table-cell;
    vertical-align: inherit;
}

table 
{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

li 
{
    display: list-item;
    text-align: -webkit-match-parent;
}

ul 
{
    list-style-type: disc;
    list-style-image: url('/img/List_bullet.svg');
}