extends layout.pug

block content
    .container.contentArea
        .row.col
            //Banner
        .row
            //News
            .col.md-4
                //To get all articles except content
            .col-md-8
                //To display only latest news with content.