/* CSS Document */
h1
{
	text-align:center;
}
h2
{
	text-align:center
}
.video
{
	float:left;
	width:47%;
	margin-right:3%;
}
.arrowleft
{
	float:left;
	width:8%;
	margin-right:6%;
}
iframe
{
	float:left;
	width:73%;
	margin-right:2%;
}
.arrowright
{
	float:left;
	width:8%;
}	
.content
{
    float:left;
	width:50%;
}
.recipeimage
{
    display:block;
	margin-left:auto;
	margin-right:auto;
}